<nav id="navbar-section">
    <ul class="navbar">
      <li><a class="nav-link" href="/">Home</a></li>

      <button
        class="menu-button"
        aria-controls="primary-navigation"
        aria-expanded="false"
      >
        <svg
          class="hamburger"
          viewBox="0 -5 100 100"
          width="30"
          fill="none"
          stroke="#000"
          stroke-width="1"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path
            class="line"
            d="m 20 40 h 60 a 1 1 0 0 1 0 20 h -60 a 1 1 0 0 1 0 -40 h 30 v 70"
            stroke-width="7"
          ></path>
        </svg>
      </button>
    </ul>
    <div class="bottom-border"></div>
    <div id="overlay-div" class="overlay">
      <a class="overlay-btn" href="#home">Home</a>
      <a class="overlay-btn" href="#about">About</a>
      <a class="overlay-btn" href="#projects">Projects</a>
      <a class="overlay-btn" href="#contact">Contact</a>
    </div>
  </nav>