/********************************************************************

General Styles

********************************************************************/
:root {
  --max-width: 1280px;
  --blue: #4285f4;
  --red: #db4437;
  --yellow: #f4b400;
  --green: #0f9d58;
  --dark: #001427;
  --light: #ebebeb;
  --font-one: "Montserrat", sans-serif;
  --font-two: "Esteban", sans-serif;
  --theme-color: #4285f4;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: var(--font-one);
  background-color: var(--light);
  /* background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABZJREFUeNpi2r9//38gYGAEESAAEGAAasgJOgzOKCoAAAAASUVORK5CYII=); */
}

h1 {
  font-size: clamp(1.5rem, 0.643rem + 4.286vw, 4.5rem);
  line-height: 1;
}

h2 {
  font-size: clamp(1.5rem, 0.857rem + 3.214vw, 3.75rem);
  line-height: 1;
}

h3 {
  font-size: clamp(1.25rem, 0rem + 3.333vw, 3rem);
  line-height: 1;
}

.section-heading {
  margin: 0 auto 2rem;
  text-align: center;
}

p,
a,
button {
  font-size: clamp(0.75rem, 0.536rem + 1.071vw, 1.5rem);
  margin: auto;
  display: inline-block;
  text-decoration: none;
}

ol,
li {
  font-size: clamp(0.75rem, 0.536rem + 1.071vw, 1.5rem);
}

a,
button {
  cursor: pointer;
  color: #000;
}

section {
  /* min-height: 100vh; */
  padding: 125px 0;
  /* min-height: 100%; */
}

@media (min-width: 1280px) {
  .container {
    max-width: var(--max-width);
    margin: auto;
  }
}

.outline {
  border-style: solid;
  border-color: black;
  border-width: 5px;
}
/********************************************************************

Home Section

********************************************************************/
#home {
  transition: 1s;
  /* background: var(--dark); */
  display: flex;
  justify-content: center;
  align-items: center;
  /* color: #ebebeb; */
  min-height: 100vh;
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  line-height: auto;
  width: 100%;
}

.name {
  font-weight: 900;
  color: var(--theme-color);
}

.home-header {
  font-weight: 700;
}

.btn {
  padding: 1% 2%;
  /* margin: auto 12px; */
  border-radius: 6px;
  font-family: var(--font-two);
  font-weight: 1;
  transition: 0.2s ease-in-out;
  text-decoration: none;
  border: 2px solid #000;
  /* box-shadow: 0rem 0rem #000; */
  background-color: var(--light);
  color: #000;
  min-width: 11rem;
  transition: 0.2s ease-in-out;
}

.btn:hover,
.btn:active {
  transform: translate(-0.25rem, -0.25rem);
  box-shadow: 0.25rem 0.25rem var(--theme-color);
}

.change-icon > .right {
  transition: 0.2s ease-in-out;
}

.change-icon:hover > .right {
  transition: 0.2s ease-in-out;
  transform: rotate(90deg);
}

/********************************************************************

Navigation Bar

********************************************************************/

#navbar-section {
  margin: auto;
  background-color: #ebebeb;
  z-index: 99;
}

.navbar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: left;
  align-items: center;
  max-width: 1280px;
  min-height: 54px;
  margin: auto;
  padding: 0;
}

.navbar li,
.navbar a {
  text-decoration: none;
  display: inline-block;
  min-width: 8%;
  color: #000;
}

.navbar a {
  padding: 0.5rem 2rem;
  transition: 0.2s ease-in-out;
}

.active {
  text-decoration: none !important;
  font-weight: bold;
}

.navbar a:hover,
.navbar a:active {
  color: var(--theme-color);
}

.bottom-border {
  padding-bottom: 2px;
  background-color: var(--theme-color);
}

@media (max-width: 730px) {
  .navbar a {
    display: none;
  }

  .navbar button {
    display: block;
    margin-left: auto;
    margin-right: 0;
  }
}

.menu-button {
  display: none;
  background: #ebebeb;
  border: 0px solid #000;
  border-radius: 8px;
  transition: 1s;
}

.menu-button[aria-expanded="true"] {
  background: #fff;
  display: block;
  margin-left: auto;
  margin-right: 0;
  overflow: hidden;
}

.menu-button .hamburger {
  transition: translate 1s, rotate 1s;
}

.menu-button[aria-expanded="true"] .hamburger {
  translate: 3px 0px;
  rotate: 0.125turn;
}

.menu-button .line {
  transition: 1s;
  stroke-dasharray: 60 31 60 1000;
}

.menu-button[aria-expanded="true"] .line {
  stroke-dasharray: 60 105 60 1000;
  stroke-dashoffset: -90;
}

.sticky {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #ebebeb;
  animation: pop-down 0.5s;
  z-index: 98;
}

@keyframes pop-down {
  0% {
    transform: translateY(-100px);
  }
}

#overlay-div {
  transition: 1s;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  min-height: 100vh;
  /* min-width: 100vw; */
  background: #000;
  opacity: 0.94;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  z-index: 98;
}

.overlay-btn {
  text-decoration: none;
  color: transparent;
  margin: 1rem auto;
  font-size: 2rem;
  z-index: 98;
  transition: 0.5s;
}

.overlay-navbar {
  /* position: fixed; */
  min-width: 100vw;
  /* top: 2%; */
  /* left: 2%;
  position: absolute; */
  background-color: #000;
  /* opacity: 1; */
  /* transition: 1s ease-in-out; */
  width: 100%;
}

/********************************************************************

About Section

********************************************************************/
#about {
  /* margin: auto; */
}

.about-content {
  max-width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 0px 2.5rem;
}

#headshot {
  max-width: 100%;
  height: auto;
  border-radius: 6px;
  align-self: center;
  justify-self: center;
}

.bio {
  display: flex;
  flex-direction: column;
  padding: 2rem auto;
  line-height: 1.25;
  margin: 1rem auto;
}

#bio span {
  font-weight: 600;
  color: var(--theme-color);
}

.bio button {
  margin: 1rem auto;
}

/********************************************************************

Projects Section

********************************************************************/
/* SKILLS */
#skills {
  /* margin: auto; */
  padding: 2rem 0;
}

.skills-cards {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, 85px);
  /* grid-template-rows: repeat(2, 1fr); */
  gap: 1.25rem;
  /* width: 100%; */
}

.skills-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.skills-header {
  margin: 0px auto;
  text-align: center;
}

.skills-card-header {
  margin: 0;
}

.skills-card-logo {
  /* aspect-ratio: 1; */
  width: 4rem;
  height: 4rem;
}

/* PROJECTS */

/* #projects .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */

.projects-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  overflow: hidden;
  /* margin: auto; */
  padding: 0rem 2rem;
}

.project-card {
  position: relative;
  border: none;
  background-color: #ebebeb;
  border-radius: 12px;
  /* border: 10px solid #000; */
  /* box-shadow: 10px 10px 7px rgba(0, 0, 0, 1); */
  cursor: pointer;
  transition: 0.6s ease-in-out;
  /* border: 1px solid var(--theme-color) */
}

.project-card:hover,
.project-card:active {
  transform: translate(-0.25rem, -0.25rem);
  box-shadow: 0.25rem 0.25rem var(--theme-color);
}

.project-img {
  position: absolute;
  object-fit: contain;
  top: 0;
  /* left/: 100px; */
  /* object-position: 40% top; */
  height: 100%;
  width: 100%;
  border-radius: 40px;
  transition: 0.5s;
}

.project-content {
  position: relative;
  height: 100%;
  padding: 10%;
  color: #000;
  transition: 0.5s;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  font-size: clamp(0.5rem, 1.25vw, 1.5rem);
}

.project-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  height: 100%;
  margin: auto;
  text-align: center;
  font-size: clamp(1rem, 3vw, 3rem);
}

.project-info {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem 0;
}

.project-logos {
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-logos img {
  max-width: 100%;
  height: auto;
  width: 25%;
  padding: 0.75rem;
}

.project-btn-grp {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  padding: 3%;
}

.project-btn {
  font: inherit;
  height: auto;
  padding: 2% 4%;
  cursor: pointer;
  border-radius: 8px;
  font-size: clamp(0.5rem, 1.25vw, 1.5rem);
  text-decoration: none;
}

.project-btn.github {
  background: #000;
  border: 2px solid #000;
  color: #fff;
  transition: 0.4s;
}

.project-btn.live-demo {
  background: white;
  border: 2px solid #000;
  color: #000;
  transition: 0.4s;
}

.project-card:hover .project-img {
  /* filter: blur(20px); */
  opacity: 0;
}

.project-card:hover .project-content {
  opacity: 1;
}

@media (max-width: 1082px) {
  .projects-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

/********************************************************************

Contact Section

********************************************************************/
#contact {
  /* padding-top: 240px; */
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  max-width: 500px;
}

.contact-subheading {
  text-align: center;
  margin: 0;
}

.form input,
.form textarea {
  min-width: 95%;
  border: none;
  margin: 2px auto;
}

.form button {
  position: relative;
  margin: 2%;
}

/* footer */
footer {
  text-align: center;
  background-color: var(--dark);
  color: var(--light);
  padding: 3vh;
  line-height: 1rem;
}

#scroll-home {
  display: none;
  position: fixed;
  bottom: 2%;
  right: 1%;
  /* opacity: 0.7; */
  padding: 0.25rem 1rem;
  border-radius: 8px;
  background-color: transparent;
  border: none;
}

#scroll-home i:hover {
  color: var(--theme-color);
}
