:root {
  --max-width: 1280px;
  --blue: #4285f4;
  --red: #db4437;
  --yellow: #f4b400;
  --green: #0f9d58;
  --gradient: linear-gradient(
    90deg,
    var(--blue) 25%,
    var(--red) 50%,
    var(--yellow) 75%,
    var(--green) 100%
  );
}

/* || GENERAL STYLES */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: auto;
  padding: 0px;
  height: auto;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABZJREFUeNpi2r9//38gYGAEESAAEGAAasgJOgzOKCoAAAAASUVORK5CYII=);
  font-family: "Space Mono", monospace;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  --minFontSize: 3rem;
  --maxFontSize: 6rem;
  --desiredFontSize: 4vw;
  font-size: clamp(
    var(--minFontSize),
    var(--desiredFontSize),
    var(--maxFontSize)
  );
  padding-left: 5%;
}

p,
a,
button {
  --minFontSize: 1.2rem;
  --maxFontSize: 1.5rem;
  --desiredFontSize: 1vw;
  font-size: clamp(
    var(--minFontSize),
    var(--desiredFontSize),
    var(--maxFontSize)
  );
  margin: auto;
  display: inline;
}

section {
  height: 100vh;
  min-height: 100%;
  width: 100%;
  max-width: var(--max-width);
  margin: auto;
}

.outline {
  border-style: solid;
  border-color: black;
  border-width: 5px;
}

/* || SECTIONS */

/* Home Section */
#home {
  transition: 1s;
}

section:nth-child(1) {
  display: flex;
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  line-height: auto;
  width: 100%;
}

.name {
  font-weight: 900;
  background: var(--gradient);
  background-size: 300%;
  font-family: "Ubuntu", sans-serif;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation: name-animation 15s infinite alternate;
}

@keyframes name-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

.home-header {
  font-weight: 700;
}

.btn {
  padding: 1% 2%;
  width: auto;
  margin: auto 12px;
  border-radius: 6px;
  font-family: "Space Mono", monospace;
  border-width: 3px;
  transition: 0.2s ease-in-out;
}

.btn:hover {
  color: #000;
  background: var(--yellow);
  border-color: black;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.2s ease-in-out;
}

.change-icon:hover > .right {
  transition: 0.2s ease-in-out;
}

.change-icon:hover > .right {
  transform: rotate(90deg);
}

/* Navbar */

#navbar-section {
  height: auto;
  margin: auto;
  background-color: none;
  z-index: 99;
}

.navbar {
  text-decoration: none;
  padding: 1rem 1.5rem;
  height: auto;
  text-align: center;
  background-color: none;
}

.navbar a {
  text-decoration: none;
  color: #000;
  padding: 0.5rem 1.5rem;
  font-size: 1.5rem;
}

.navbar a:nth-child(1):hover {
  background-color: var(--blue);
}
.navbar a:nth-child(2):hover {
  background-color: var(--red);
}
.navbar a:nth-child(3):hover {
  background-color: var(--yellow);
}
.navbar a:nth-child(4):hover {
  background-color: var(--green);
}

.navbar a:hover {
  color: #000;
  cursor: pointer;
  transition: 0.3s;
}

.bottom-border {
  background: var(--gradient);
  padding-bottom: 2px;
  background-size: 200%;
  animation: bottom-border-animation 15s infinite alternate;
}

@keyframes bottom-border-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

@media (max-width: 730px) {
  .navbar a {
    display: none;
  }
}

@media (max-width: 730px) {
  .navbar button {
    display: block;
    margin-left: auto;
    margin-right: 0;
  }
}

.menu-button {
  display: none;
  background: #ebebeb;
  border: 3px solid #000;
  border-radius: 8px;
  overflow: hidden;
  transition: 1s;
}

.menu-button[aria-expanded="true"] {
  background: #fff;
}

.menu-button .hamburger {
  transition: translate 1s, rotate 1s;
}

.menu-button[aria-expanded="true"] .hamburger {
  /* outline: 3px solid red; */
  translate: 3px 0px;
  rotate: 0.125turn;
}

.menu-button .line {
  transition: 1s;
  stroke-dasharray: 60 31 60 1000;
}

.menu-button[aria-expanded="true"] .line {
  stroke-dasharray: 60 105 60 1000;
  stroke-dashoffset: -90;
}

.sticky {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #ebebeb;
  transition: background-color 0.2s ease-in-out;
  z-index: 98;
}

#scrollHomeBtn {
  position: fixed;
  bottom: 2%;
  right: 1%;
  opacity: 0.5;
  padding: 0.25rem 1rem;
  border-radius: 8px;
  background-color: white;
}

#scrollHomeBtn:hover {
  opacity: 1;
}

#overlay-div {
  transition: 1s;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background: #000;
  opacity: 0.94;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  z-index: 98;
}

.overlay-btn {
  text-decoration: none;
  color: transparent;
  margin: 1rem auto;
  font-size: 2rem;
  z-index: 98;
  transition: 0.5s;
}

.overlay-navbar {
  position: fixed;
  top: 0;
  background-color: #000;
  opacity: 0.9;
  /* transition: 0.5s; */
  width: 100%;
}

/* Projects Section */
#projects {
  padding-top: 70px;
  height: 100%;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  overflow: hidden;
  margin: auto;
  padding: 0rem 5rem;
}

.project-card {
  position: relative;
  aspect-ratio: 1/1;
}

.project-img {
  position: absolute;
  object-fit: cover;
  object-position: 40% top;
  height: 100%;
  width: 100%;
  transition: 0.5s;
}

.project-content {
  position: relative;
  height: 100%;
  padding: 10%;
  color: #000;
  transition: 0.5s;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  font-size: clamp(0.5rem, 1.25vw, 1.5rem);
}

.project-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  height: 100%;
  margin: auto;
  text-align: center;
  font-size: clamp(1rem, 3vw, 3rem);
}

.project-info {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem 0;
}

.project-logos {
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-logos img {
  max-width: 100%;
  height: auto;
  width: 25%;
  padding: 0.75rem;
}

.project-btn-grp {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  padding: 3%;
}

.project-btn {
  font: inherit;
  height: auto;
  padding: 2% 4%;
  cursor: pointer;
  border-radius: 8px;
  font-size: clamp(0.5rem, 1.25vw, 1.5rem);
  text-decoration: none;
}

.project-btn.github {
  background: #000;
  border: 2px solid #000;
  color: #fff;
  transition: 0.4s;
}

.project-btn.github:hover {
  background: var(--blue);
  color: #000;
}

.project-btn.live-demo {
  background: white;
  border: 2px solid #000;
  color: #000;
  transition: 0.4s;
}

.project-btn.live-demo:hover {
  background: var(--blue);
  border: 2px solid #000;
  color: #fff;
}

.project-card:hover .project-img {
  filter: blur(20px);
  opacity: 0.4;
}

.project-card:hover .project-content {
  opacity: 1;
}

@media (max-width: 1082px) {
  .projects-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .project-content h1 {
    font-size: clamp(0.5rem, 5vw, 5rem);
  }

  .project-content :is(p, button) {
    font-size: clamp(0.1rem, 2.5vw, 1.5rem);
  }
}

@media (max-width: 730px) {
  /* .project-content h1 {
    font-size: clamp(1rem, 2rem, 3rem);
  }
  
  .project-content :is(p, button) {
    font-size: clamp(0.75rem, 1rem, 1.5rem);
  } */
}

/* about section */
#about {
  padding-top: 70px;
}

/* contact section */
#contact {
  padding-top: 70px;
}

#pre-footer {
}

/* footer */
footer {
  text-align: center;
  background-color: #ebebeb;
  padding: 3vh;
  line-height: 2rem;
}
